body.dark {
  background-color: #141414;
  color: #eeeeee;
}

.datepicker-modal {
  max-width: 325px;
  min-width: 300px;
  max-height: none;
}

.datepicker-modal.open {
  display: block;
  margin-top: 3.6rem;
}

.checkbox label {
  height: 100%;
  display: flex;
  align-items: center;
}

.checkbox label > i {
  font-size: 1.5rem;
}

.checkbox label > span {
  padding-left: 10px;
}

.input-field .autocomplete-content.dropdown-content.visible, .input-field .autocomplete-content.dropdown-content.test {
  display: block;
  opacity: 1;
  height: 100%;
  top: 46px;
}

.modal .input-field .autocomplete-content.dropdown-content.visible {
  position: relative;
  width: 100%;
  top: 0px;
}

.input-field .dropdown-content li {
  min-height: 36px;
  line-height: 1rem;
}

.input-field .dropdown-content li > span {
  line-height: 14px;
  padding: 12px 16px;
}


body {
  display: flex;
  flex-direction: column;
}

.sft-calendar-picker {
  max-width: 10rem;
}

.pointer {
  cursor: pointer !important;
}

.sidenav .collapsible li, .sidenav.fixed .collapsible li {
  display: block;
}

.collapsible .active .collapsible-body {
  display: block;
}

.sidenav ul li ul li {
  line-height: 32px;
}

.sidenav h6 {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

.sidenav.sidenav-fixed.open {
  transform: translateX(0);
  transition: transform 0.5s;
}

.modal {
  max-height: 90%;
  /*overflow-y: visible;*/
}

.modal.open {
  display: block;
  z-index: 1000;
}

.modal input {
  font-size: 14px;
}

.modal .input-field {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.modal button.btn {
  margin-left: 1rem;
  display: inline-flex;
}

.modal button.btn i {
  margin-right: 0.5rem;
}

.modal-content .container {
  font-size: 12px;
}

.modal-content .container .row {
  margin-bottom: 4px;
}

.modal .dropdown-content {
  position: initial;
  width: 90%;
  margin: 0 auto;
}

a.btn.nice {
  display: inline-flex;
}

a.btn.nice i, button.btn.nice i {
  margin-right: 0.5rem;
}

.sft-calendar-picker {
  display: inline-block;
  max-width: 7rem;
}

.sft-calendar-picker .input-field {
  display: inline-block;
  max-width: 7rem;
}

nav .date-select {
  width: 7rem;
  display: inline-block;
}

nav.navbar .padme {
  padding: 0.8rem;
}

.pad-right {
  padding-right: 0.6rem;
}

.pad-top {
  padding-top: 0.6rem;
}

.summary p span {
  display: block;
}

#filters ul.collapsible a.collapsible-header {
  color: firebrick;
}

#filters ul.collapsible a.collapsible-header.has-active-items {
  color: darkolivegreen;
}

.sft-calendar-picker .input-field input {
  max-width: 7rem;
}

.show-on-hover {
  display: none;
}

.show-hoverable:hover .show-on-hover {
  display: inline;
}

table.small th {
  padding: 10px 8px;
}

table.small td {
  padding: 5px 8px;
}

table.small td {
  font-size: 13px;
}

table.small td > i {
  font-size: 1.3rem;
}

div.padding {
  padding: 10px 20px;
}

table.sft {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

table.sft a {
  color: inherit;
  display: block;
}

table.sft a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

table.sft th, table.sft td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.sft td.check, table.sft th.check {
  width: 2rem;
}

table.sft td.id, table.sft th.id {
  width: 3rem;
}

table.sft td.date, table.sft th.date {
  width: 7rem;
}

table.sft td.amount, table.sft th.amount {
  width: 12rem;
}

table.sft th.amount > span {
  display: block;
}

table.sft td.category, table.sft th.category {
  width: 15rem;
}

table.sft td.money-account, table.sft th.money-account {
  width: 17rem;
}

table.sft td.status, table.sft th.status, table.sft td.delete, table.sft th.delete {
  width: 2.5rem;
}

table.sft td.currency, table.sft th.currency {
  width: 9rem;
}

.details-item.row {
  margin-bottom: 0;
}

i.small {
  vertical-align: middle;
}

i.edit-icon {
  font-size: 2.2rem;
}


.modal .patron {
  font-size: 15px;
  color: #6d4c41;
}

.modal .interaction {
  font-size: 15px;
  font-weight: bold;
}

table.sft td.category, table.sft th.category {
  width: 15rem;
}

span.category-small {
  display: none;
}

span.category-big {
  display: inline;
}

.transactions-summary {
  position: relative;
  max-height: 200px;
  max-width: 400px;
  margin: auto;
}

@media only screen and (max-width: 1400px) {
  span.category-small {
    display: inline;
  }
  span.category-big {
    display: none;
  }
  table.sft td.category, table.sft th.category {
    width: 11rem;
  }
  table.sft td.money-account, table.sft th.money-account {
    width: 13rem;
  }
}

@media only screen and (max-width: 1200px) {
  table.sft td.money-account, table.sft th.money-account {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  table.sft td.category, table.sft th.category {
    display: none;
  }
}

@media only screen and (min-width: 993px) {
  body.has-fixed-sidenav {
    padding-left: 300px;
  }

  nav .date-select-to {
    margin-right: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .date-select-to {
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  table.sft td.amount, table.sft th.amount {
    width: 7.5rem;
  }

  table.sft td.date, table.sft th.date {
    width: 5.5rem;
  }

  .modal .btn.nice {
    font-size: 12px;
  }
}
