
body {
  display: flex;
  flex-direction: column;
}

.sft-calendar-picker {
  max-width: 10rem;
}

.pointer {
  cursor: pointer !important;
}

.sidenav .collapsible li, .sidenav.fixed .collapsible li {
  display: block;
}

.collapsible .active .collapsible-body {
  display: block;
}

.sidenav ul li ul li {
  line-height: 32px;
}

.sidenav h6 {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

.modal {
  max-height: 90%;
}

.modal.open {
  display: block;
  z-index: 1000;
}

.modal input {
  font-size: 14px;
}

.modal .input-field {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.modal button.btn {
  margin-left: 1rem;
  display: inline-flex;
}

.modal button.btn i {
  margin-right: 0.5rem;
}

.modal-content .container {
  font-size: 12px;
}

.modal-content .container .row {
  margin-bottom: 4px;
}

a.btn.nice {
  display: inline-flex;
}

a.btn.nice i {
  margin-right: 0.5rem;
}

.sft-calendar-picker {
  display: inline-block;
  max-width: 7rem;
}

.sft-calendar-picker .input-field {
  display: inline-block;
  max-width: 7rem;
}

nav .date-select {
  width: 7rem;
  display: inline-block;
}

nav .date-select-to {
  margin-right: 300px;
}

.sft-calendar-picker .input-field input {
  max-width: 7rem;
}

table.small th {
  padding: 10px 8px;
}

table.small td {
  padding: 5px 8px;
}

table.small td {
  font-size: 13px;
}

table.small td > i {
  font-size: 1.3rem;
}

div.padding {
  padding: 10px 20px;
}

table.sft {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

table.sft a {
  color: inherit;
  display: block;
}

table.sft a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

table.sft th, table.sft td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.sft td.check, table.sft th.check {
  width: 2rem;
}

table.sft td.id, table.sft th.id {
  width: 3rem;
}

table.sft td.date, table.sft th.date {
  width: 6.5rem;
}

table.sft td.amount, table.sft th.amount {
  width: 12rem;
}

table.sft td.category, table.sft th.category {
  width: 15rem;
}

table.sft td.money-account, table.sft th.money-account {
  width: 17rem;
}

table.sft td.status, table.sft th.status, table.sft td.delete, table.sft th.delete {
  width: 2.5rem;
}

table.sft td.currency, table.sft th.currency {
  width: 7rem;
}

i.small {
  vertical-align: middle;
}


@media only screen and (min-width: 993px) {
  body.has-fixed-sidenav {
    padding-left: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .date-select-to {
    margin-right: auto;
  }
}
