body.dark {
  background-color: #141414;
  color: #eeeeee;
}

.datepicker-modal {
  max-width: 325px;
  min-width: 300px;
  max-height: none;
}

.datepicker-modal.open {
  display: block;
  margin-top: 3.6rem;
}

.checkbox label {
  height: 100%;
  display: flex;
  align-items: center;
}

.checkbox label > i {
  font-size: 1.5rem;
}

.checkbox label > span {
  padding-left: 10px;
}

.input-field .autocomplete-content.dropdown-content.visible, .input-field .autocomplete-content.dropdown-content.test {
  display: block;
  opacity: 1;
  height: 100%;
  top: 46px;
}

.input-field .dropdown-content li {
  min-height: 36px;
  line-height: 1rem;
}

.input-field .dropdown-content li > span {
  line-height: 14px;
  padding: 12px 16px;
}
