body.dark {
  background-color: #141414;
  color: #eeeeee;
}

.datepicker-modal {
  max-width: 325px;
  min-width: 300px;
  max-height: none;
}

.datepicker-modal.open {
  display: block;
  margin-top: 3.6rem;
}

.checkbox label {
  height: 100%;
  display: flex;
  align-items: center;
}

.checkbox label > i {
  font-size: 1.5rem;
}

.checkbox label > span {
  padding-left: 10px;
}

/*.dpick-container.modal-content {*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-orient: vertical;*/
/*  -webkit-box-direction: normal;*/
/*  -webkit-flex-direction: column;*/
/*  -ms-flex-direction: column;*/
/*  flex-direction: column;*/
/*  padding: 0;*/
/*}*/

/*.dpick-controls {*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-pack: justify;*/
/*  -webkit-justify-content: space-between;*/
/*  -ms-flex-pack: justify;*/
/*  justify-content: space-between;*/
/*  width: 280px;*/
/*  margin: 0 auto;*/
/*}*/

/*.dpick-controls .selects-container {*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*}*/

/*.dpick-controls .select-wrapper input {*/
/*  border-bottom: none;*/
/*  text-align: center;*/
/*  margin: 0;*/
/*}*/

/*.dpick-controls .select-wrapper input:focus {*/
/*  border-bottom: none;*/
/*}*/

/*.dpick-controls .select-wrapper .caret {*/
/*  display: none;*/
/*}*/

/*.month-prev, .month-next, .year-prev, .year-next {*/
/*  margin-top: 10px;*/
/*  cursor: pointer;*/
/*  background-color: transparent;*/
/*  border: none;*/
/*}*/

/*!*.month-prev i, .month-next i, .year-prev i, .year-next i {*!*/
/*!*  color: white;*!*/
/*!*}*!*/

/*!* Date Display *!*/
/*.dpick-date-display {*/
/*  -webkit-box-flex: 1;*/
/*  -webkit-flex: 1 auto;*/
/*  -ms-flex: 1 auto;*/
/*  flex: 1 auto;*/
/*  background-color: #26a69a;*/
/*  color: #fff;*/
/*  padding: 20px 22px;*/
/*  font-weight: 500;*/
/*}*/

/*.dpick-date-display .year-text {*/
/*  display: block;*/
/*  font-size: 1.5rem;*/
/*  line-height: 25px;*/
/*  color: rgba(255, 255, 255, 0.7);*/
/*}*/

/*.dpick-date-display .date-text {*/
/*  display: block;*/
/*  font-size: 2.8rem;*/
/*  line-height: 47px;*/
/*  font-weight: 500;*/
/*}*/

/*!* Calendar *!*/
/*.dpick-calendar-container {*/
/*  -webkit-box-flex: 2.5;*/
/*  -webkit-flex: 2.5 auto;*/
/*  -ms-flex: 2.5 auto;*/
/*  flex: 2.5 auto;*/
/*}*/

/*.dpick-table {*/
/*  width: 280px;*/
/*  font-size: 1rem;*/
/*  margin: 0 auto;*/
/*}*/

/*.dpick-table thead {*/
/*  border-bottom: none;*/
/*}*/

/*.dpick-table th {*/
/*  padding: 10px 5px;*/
/*  text-align: center;*/
/*}*/

/*.dpick-table tr {*/
/*  border: none;*/
/*}*/

/*.dpick-table abbr {*/
/*  text-decoration: none;*/
/*  color: #BBB;*/
/*}*/

/*.dpick-table td {*/
/*  border-radius: 50%;*/
/*  padding: 0;*/
/*}*/

/*.dpick-table td.is-today {*/
/*  color: #546e7a;*/
/*}*/

/*.dpick-table td.is-selected {*/
/*  background-color: #455a64;*/
/*  color: #fff;*/
/*}*/

/*.dpick-table td.is-outside-current-month, .dpick-table td.is-disabled {*/
/*  color: rgba(0, 0, 0, 0.3);*/
/*  pointer-events: none;*/
/*}*/

/*.dpick-day-button {*/
/*  background-color: transparent;*/
/*  border: none;*/
/*  line-height: 38px;*/
/*  display: block;*/
/*  width: 100%;*/
/*  border-radius: 50%;*/
/*  padding: 0 5px;*/
/*  cursor: pointer;*/
/*  color: inherit;*/
/*}*/

/*.dpick-day-button:focus {*/
/*  background-color: rgba(43, 161, 150, 0.25);*/
/*}*/

/*!* Footer *!*/
/*.dpick-footer {*/
/*  width: 280px;*/
/*  margin: 0 auto;*/
/*  padding-bottom: 5px;*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-pack: justify;*/
/*  -webkit-justify-content: space-between;*/
/*  -ms-flex-pack: justify;*/
/*  justify-content: space-between;*/
/*}*/

/*.dpick-cancel,*/
/*.dpick-clear,*/
/*.dpick-today,*/
/*.dpick-done {*/
/*  color: #26a69a;*/
/*  padding: 0 1rem;*/
/*}*/

/*.dpick-clear {*/
/*  color: #F44336;*/
/*}*/

/*.dpick-calendar button:focus {*/
/*  background-color: #455a64;*/
/*}*/

/*!* Media Queries *!*/
/*@media only screen and (min-width: 401px) {*/
/*  .dpick-modal {*/
/*    max-width: 340px;*/
/*  }*/
/*  .dpick-container.modal-content {*/
/*    -webkit-box-orient: horizontal;*/
/*    -webkit-box-direction: normal;*/
/*    -webkit-flex-direction: row;*/
/*    -ms-flex-direction: row;*/
/*    flex-direction: row;*/
/*  }*/
/*  .dpick-date-display {*/
/*    -webkit-box-flex: 0;*/
/*    -webkit-flex: 0 1 270px;*/
/*    -ms-flex: 0 1 270px;*/
/*    flex: 0 1 270px;*/
/*  }*/
/*  .dpick-controls,*/
/*  .dpick-table,*/
/*  .dpick-footer {*/
/*    width: 320px;*/
/*  }*/
/*  .dpick-day-button {*/
/*    line-height: 44px;*/
/*  }*/
/*}*/

/*input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {*/
/*  color: #546e7a;*/
/*}*/
